astroid==2.4.2
bottle==0.12.18
bottle-websocket==0.2.9
cffi==1.14.3
colorama==0.4.3
Eel==0.14.0
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
isort==5.5.3
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pylint==2.6.0
pyparsing==2.4.7
rsa==4.6
six==1.15.0
Telethon==1.16.4
toml==0.10.1
whichcraft==0.6.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.1.0
